@model IEnumerable<RentCar.Domain.Entities.TypeBody>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameBody)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameBody)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BodyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BodyId })
        </td>
    </tr>
}

</table>
